{% extends "basee.html" %}
  
{% block title %}Update Contact{% endblock title %}
  
{% block content %}
<div class="col-md-12">
    <form method="POST" class="post-form" action="/update/{{contact.id}}">  
    {% csrf_token %}  
    <div class="container">   
        <div class="col-12">  
            <h3>Modifier Les Coordonnees</h3>  
        </div> 
        
        <div class="mb-3"> 
            <label>Nom & Prénom:</label>  
            <input type="text" class="form-control" name="name" id="id_name" required maxlength="100" value="{{ contact.name }}" />  
        </div> 
        <div class="mb-3"> 
            <label>Email:</label>  
            <input type="email" class="form-control" name="email" id="id_email" required maxlength="254" value="{{ contact.email }}" />  
        </div> 
        <div class="mb-3"> 
            <label>Numéro de Télephone:</label>  
            <input type="text" class="form-control" name="contact" id="id_contact" required maxlength="15" value="{{ contact.contact }}" />  
        </div> 
        <div class="mb-3"> 
            <button type="submit" class="btn btn-success btn-lg">Mettre a jours</button>  
        </div> 
    </div>  
    </form>  
{% endblock content %}   