<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tortuga - Tunnel de Vente</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" type="text/css" href="{% static 'homee.css' %}">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">
      <img src="{% static 'LT.png' %}" style="height:90px">
      <a href="#" class="logo">La Tortuga</a>
      
      <nav class="navbar container" data-navbar>
        
        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link" data-nav-link>Acceuil</a>
          </li>

          <li>
            <a href="#service" class="navbar-link" data-nav-link>Nos Services</a>
          </li>

          <!-- <li>
            <a href="#project" class="navbar-link" data-nav-link>Project</a>
          </li> -->
          
          <li>
            <a href="#about" class="navbar-link" data-nav-link>Qui Somme Nous?</a>
          </li>
          <!-- <li>
            <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
          </li> -->
         
          <li>
            <a href="#contact" class="navbar-link" data-nav-link>Contact</a>
          </li>

          <li>
            <div class="wrapper">
            <a href="{% url 'login' %}" class="btn btn-primary">Se Connecter</a>
          </li>
        </div>
        </ul>
      </nav>

      <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
      </button>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" id="home" aria-label="hero">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">Agence de Marketing La Tortuga</p>

            <h1 class="h1 hero-title">Plateforme de Marketing pour les Infopreneurs</h1>

            <p class="hero-text">
              
            </p>

            <a href="{% url 'login' %}" class="btn btn-primary">Se Connecter</a>

          </div>
          <div class="about-banner img-holder" style="--width: 600; --height: 540;">
            <img src="{% static 'lila.png' %}"  loading="lazy" alt="about banner"
              class="img-cover">
              
            
          </div>
        

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="section service" id="service" aria-label="service">
        <div class="container">

          <h2 class="h2 section-title">Nos Services</h2>

          <p class="section-text">
           
          </p>

          <ul class="grid-list">

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #13c4a1">
                  <ion-icon name="chatbox"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Gestion des Affiliés</a>
                </h3>

                <p class="card-text">
                Les entreprises peuvent se connecter avec des partenaires affiliés qui permettent de développer leur activité.
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #6610f2">
                  <ion-icon name="desktop"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Landing Page</a>
                </h3>

                <p class="card-text">
                  Nos pages de destination vous permettent de développer facilement votre liste 
                  de courriels avec de nouveaux abonnés. Plus vous transformez de visiteurs en 
                  prospects.
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #ffb700">
                  <ion-icon name="bulb"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Analyses et Aperçus</a>
                </h3>

                <p class="card-text">
                  Sachez si vous êtes sur la bonne voie pour atteindre les jalons et 
                  les objectifs de votre entreprise! Prévoyez le rendement de votre entreprise en
                  planifiant et en établissant un budget en conséquence.
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #fc3549">
                  <ion-icon name="phone-portrait"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Ciblage Form PopUp</a>
                </h3>

                <p class="card-text">
                  Créez des fenêtres contextuelles et des formulaires intéressants pour votre site Web en quelques minutes.
Aucune compétence de codage requise.
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #00d280">
                  <ion-icon name="archive"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Email Marketing</a>
                </h3>

                <p class="card-text">
                  Catégorisez vos clients et envoyez des e-mails personnalisés à des groupes spécifiques et Configurez des séquences d'e-mails automatisées.
                </p>

              </div>
            </li>

            <li>
              <!--
              <div class="service-card">
                <div class="card-icon" style="background-color: #ff612f">
                  <ion-icon name="build"></ion-icon>
                </div>
                <h3 class="h3">
                  <a href="#" class="card-title">Configuration Personalisé</a>
                </h3>
                <p class="card-text">
                  Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem
                  aperiam, eaque
                  ipsa quae.
                </p>
              </div>
               --> 
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #PROJECT
      -->

      <section class="section project" id="project" aria-label="project">
        <div class="container">

          


      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <div class="about-banner img-holder" style="--width: 720; --height: 960;">
            <img src="{% static 'funnel1.png' %}"  loading="lazy" alt="about banner"
              class="img-cover">
              
            
          </div>

          <div class="about-content">

            <h2 class="h2 section-title">La Tortuga</h2>

            <p class="section-text">
              Tortuga vous aide à démarrer votre entreprise avec une plateforme facile à utiliser
              et contenant tous les outils nécessaires
              Nous sommes passionnés par l'optimisation
              de l'expérience utilisateur et la génération de 
              leads qualifiés pour nos clients. Nous travaillons avec
              diligence pour créer des campagnes de marketing numérique efficaces qui
              convertissent les visiteurs en clients fidèles.            </p>

            <h3 class="h3">A propos</h3>

            <p class="section-text">
              Notre plateforme vous permet de créer des sales funnels personnalisés
               pour répondre aux besoins uniques de votre entreprise, tout en étant 
               abordable et facile à utiliser

            </p>

            <h3 class="h3">Nos Offres</h3>

            <ul class="about-list">

              <li class="about-item">
                <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>

                <p class="section-text">
                  Créez des sales funnels avec un éditeur facile à utiliser                </p>
              </li>

              <li class="about-item">
                <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>

                <p class="section-text">
                  Intégrez votre liste de diffusion, votre système de paiement et vos sites d'adhésion
                </p>
              </li>

              <li class="about-item">
                <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>

                <p class="section-text">
                  Automatisez les étapes de votre entonnoir. Déclenchez des séquences d'e-mails et donnez un accès instantané à des cours.
                </p>
              </li>

            </ul>

            <h3 class="h3">Notre Mission</h3>

            <p class="section-text">
              Que vous soyez une petite entreprise ou une grande entreprise, nous avons la solution parfaite pour vous aider à atteindre vos objectifs de vente et de croissance.
            </p>

          </div>

        </div>
      </section>





      <!-- 
        - #CTA
      -->

      <section class="section cta" aria-label="cta" style="background-image: url('./assets/images/cta-bg.jpg')">
        <div class="container">

          <p class="cta-subtitle">Quelle est la prochaine étape?</p>

          <h2 class="h2 section-title">Êtes-vous prêt? Mettons-nous au travail!</h2>

          <a href="{% url 'login' %}" class="btn btn-primary">Commencez dès maintenant !</a>

        </div>
      </section>





      





      <!-- 
        - #CONTACT
      -->

      <section class="section contact" id="contact" aria-label="contact">
        <div class="container">

          <h2 class="h2 section-title">Contactez-nous</h2>

          <p class="section-text">
            
          </p>

          <form action="{% url 'home' %}" method="POST">
            <div class="input-wrapper">
              <input type="text" name="name" aria-label="name" placeholder="Votre Nom Complet*" required class="input-field">

              <input type="email" name="email" aria-label="email" placeholder="Addresse Email*" required
                class="input-field">
            </div>

            <div class="input-wrapper">
              <input type="text" for="subject" name="subject" aria-label="subject" placeholder="Sujet" class="input-field">

              <input type="number" for="phonenumber" name="phonenumber" aria-label="phone" placeholder="Numéro de Téléphone" class="input-field">
            </div>

            <textarea name="message" aria-label="message" placeholder="Votre message...*" required
              class="input-field"></textarea>

            <div class="checkbox-wrapper">
              <input type="checkbox" name="terms_and_policy" id="terms" required class="checkbox">

              <label for="terms" class="label">
                Acceptez <a href="#" class="label-link">Nos termes de Services</a> et <a href="#" class="label-link">Nos Politique de Confidentialité</a>
              </label>
            </div>

            <button type="submit" class="btn btn-primary">Envoyer</button>

          </form>

          <ul class="contact-list">

            <li class="contact-item">
              <div class="contact-card">

                <div class="card-icon">
                  <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
                </div>

                <div class="card-content">

                  <h3 class="h3 card-title">Email</h3>

                  <a href="mailto:hello@luaz.com" class="card-link">hello@luaz.com</a>
                  <a href="mailto:info@luaz.com" class="card-link">info@luaz.com</a>

                </div>

              </div>
            </li>

            <li class="contact-item">
              <div class="contact-card">

                <div class="card-icon">
                  <ion-icon name="map-outline" aria-hidden="true"></ion-icon>
                </div>

                <div class="card-content">

                  <h3 class="h3 card-title">Visitez-nous sur</h3>

                  <address class="card-address">
                    27 Division St, New York,<br>
                    NY 10002, USA
                  </address>

                </div>

              </div>
            </li>

            <li class="contact-item">
              <div class="contact-card">

                <div class="card-icon">
                  <ion-icon name="headset-outline" aria-hidden="true"></ion-icon>
                </div>

                <div class="card-content">

                  <h3 class="h3 card-title">Pour Plus d'Infos</h3>

                  <a href="tel:+1234567890" class="card-link">+123 456 7890</a>
                  <a href="tel:+2414524526" class="card-link">+241 452 4526</a>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      

    </div>
  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" aria-label="back to top" data-back-top-btn class="back-top-btn">
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>