{% extends "basee.html" %}
  
{% block title %}Landing Page{% endblock title %}
  
{% block content %}
 <div class="col-md-12">
         <h3>Liste des Templates</h3>
        <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
        <thead>
            <th><input type="checkbox" id="checkall" /></th>
            
            <th></th>
            <th>Titre</th>
            <th>Description</th>
        </thead>
        <tbody>
        {% for landinguser in landingusers %}  
            <tr>  
            <td><input type="checkbox" class="checkthis" /></td>
             
            <td>{{ landinguser.image }}</td>  
            <td>{{ landinguser.title }}
                {{landinguser.URL}}
            </td>  
            <td>{{ landinguser.Description}}</td>  
            <td><a href="/editlandingpage/{{ landinguser.id }}" class="btn btn-primary">Modifier</a></td>
            <td><a href="/sharelandingpage/{{ landinguser.id }}" class="btn btn-primary">Partager</a></td>
            <td><a href="/destroylanding/{{ landinguser.id }}" class="btn btn-danger">Supprimer</a></td>  
            </tr>  
        {% endfor %} 
        </tbody>
        </table>
        <span><a href="/landingpage/" class="btn btn-primary">Creer une nouvelle Landing Page</a></span>
        </div>
    </div>
{% endblock content %}