<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <title>Slide Navbar</title>
  <link rel="stylesheet" type="text/css" href="{% static 'my_style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main">    
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form method="POST" action="{% url 'signup' %}">
          {% csrf_token %}
          <label for="chk" aria-hidden="true">Sign up</label>
          <input type="text" name="username" placeholder="User name" required="">
          <input type="text" name="first_name" placeholder="first name" required="">
          <input type="text" name="last_name" placeholder="last name" required="">
          <input type="email" name="email" placeholder="Email" required="">
          <input type="password" name="password1" placeholder="Password" required="">
          <input type="password" name="password2" placeholder="Confirm password" required="">
          <button class='button-signup' type="submit">Sign up</button>
      </form>
  </div>
  
    <div class="logo">
      <img src="{% static 'LT1.png' %}" alt="Logo">
    </div>
    

    <div class="login">
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="chk" aria-hidden="true">Login</label>
        <input type="text" name="username" placeholder="Username" required="" value="{{ form.username.value }}">
        {% for error in form.username.errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
        <input type="password" name="password" placeholder="Password" required="" value="{{ form.password.value }}">
        {% for error in form.password.errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
        <button type="submit">Login</button>
      </form>
      {% if form.errors %}
        <div class="error-message">
          <p>Please correct the following errors:</p>
          <ul>
            {% for error in form.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    
</body>
</html>
