{% include 'navbar.html'  %} 

{% block extra_css %}
    <style>
        body{
 
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            background:#fff;
          }
          body::before{
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            height: 100%;
            width: 100%;
            background: linear-gradient(45deg, #655add, #d84b87);
            clip-path:circle(25% at right 5%);
          }
          body::after{
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            height: 100%;
            width: 100%;
            background: linear-gradient(#c14e993b, #90654b4f);
            clip-path:circle(20% at left 95%);
          
          }
          .form_main {
            margin: 3% 30%;
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fafafa;
            padding: 30px 30px 30px 30px;
            border-radius: 30px;
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
          }
          
          .inputContainer {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          .inputIcon {
            position: absolute;
            left: 10px;
          }
          
          .inputField {
            width: 400px;
            height: 40px;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid rgb(173, 173, 173);
            border-radius: 30px;
            margin: 10px 0;
            color: black;
            font-size: 0.8em;
            font-weight: 500;
            box-sizing: border-box;
            padding-left: 30px;
          }
          
          .inputField:focus {
            outline: none;
            border-bottom: 2px solid rgb(199, 114, 255);
          }
          
          .inputField::placeholder {
            color: rgb(80, 80, 80);
            font-size: 1em;
            font-weight: 500;
          }
          
          .btn {
            position: relative;
            width: 100%;
            border: 2px solid #8000ff;
            background-color: #8000ff;
            height: 40px;
            color: white;
            font-size: 0.8em;
            font-weight: 500;
            letter-spacing: 1px;
            border-radius: 30px;
            margin: 10px;
            cursor: pointer;
            overflow: hidden;
          }
          
          .btn::after {
            content: "";
            position: absolute;
            background-color: rgba(255, 255, 255, 0.253);
            height: 100%;
            width: 150px;
            top: 0;
            left: -200px;
            border-bottom-right-radius: 100px;
            border-top-left-radius: 100px;
            filter: blur(10px);
            transition-duration: 0.5s;
          }
          
          .btn:hover::after {
            transform: translateX(600px);
            transition-duration: 0.5s;
          }
    h2{
      font-family:georgia;
      margin: 3%;
    }
    </style>
{% endblock %}

{% block content %}
<h2 class="user-title">Creer une Template</h2>
<div class="form_main">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="inputContainer">
          <label for="id_title" class="inputIcon"><i class="fa fa-user"></i></label>
          <input type="text" name="title" maxlength="150" required id="id_title" class="inputField" placeholder="Titre">
        </div>
        
        <div class="inputContainer">
          <label for="id_codeHtml" class="inputIcon"><i class="fa fa-user"></i></label>
          <input type="textarea" name="codeHtml"  required id="id_codeHtml" class="inputField" placeholder="Code HTML">
        </div>
        
        <div class="inputContainer">
          <label for="id_description" class="inputIcon"><i class="fa fa-user"></i></label>
          <input type="description" name="description" required id="id_description" class="inputField" placeholder="Description">
        </div>
        <div class="inputContainer">
            <label for="id_image">Image:</label>
            {{ form.image }}
        </div>
       <div>
        <center><button  class="btn color-a top" type="submit">Submit</button> </center>
       </div>
      </form>
</div>
{% endblock %}
