
{% include 'navbar.html'  %} 


{% block extra_css %}
  <style>
    body{
 
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      background:#fff;
    }
    body::before{
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      height: 100%;
      width: 100%;
      background: linear-gradient(45deg, #655add, #d84b87);
      clip-path:circle(15% at left 95%);
    }
    body::after{
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      height: 100%;
      width: 100%;
      background: linear-gradient(#c14e993b, #90654b4f);
      clip-path:circle(5% at right 10%);
    
    }
  table{
    margin: 0 auto; 
    margin-top:50px;
    width:800px;
    item-align: center;
  
  }
  th{
    font-size:20px;
  }
  .btn{
    border:none;
    height:40px;
    color:#fff;
    font-size:16px;
    border-radius:30px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
  }
  .btn:hover{
    border:solid 1px #DA59B1;
    height:40px;
    color: #DA59B1;
    background:#ffffff;
    
    border-color: linear-gradient(to top right, #8162CE, #F54BA5);
    border-radius:30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
  }
  .color-a{
    background: linear-gradient(to top right, #8162CE, #F54BA5);
  }
  </style>
{% endblock %}

{% block content %}
<div classname="animation">
  
  
  {% if templates %}
    <table class="table" width="100%">
      <thead class="table-head">
        <tr>
          <th>Titre</th>
          <th>Description</th>
          <th>Image</th>
          
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for template in templates %}
          <tr class="template-title" style="width: 100px;">
            <td class="template-title"style="width: 100px;">{{ template.title }}</td>
            <td class="template-type"style="width: 200px;">{{ template.description }}</td>
            <td style="width: 100px;"><img src="{{ template.image.url }}" alt="{{ template.title }}" width="100px"></td>
            
            <td style="width: 100px;">
              <div class="template-actions">
                <a href="{% url 'pop_delete' id=template.id %}" class="btn color-a top">Effacer</a>
                <a href="{% url 'pop_update' id=template.id %}" class="btn color-a top">Editer</a>
                
              </div>
            </td>
          </tr>
        </div>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Pas de templates trouvées.</p>
  {% endif %}
  <a href="{% url 'pop_template' %}" class="btn color-a top" type="submit" style="margin-left:75%;">Ajouter une nouvelle Template</a> 
{% endblock %}