{% extends "basee.html" %}
{% load static %}
{% block title %}
Profile Page
{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body text-center shadow">
            <img src="{% static 'Tortuga.png' %}" alt="Image">
          <div class="mb-3">
            <h4>{{ user.first_name }} {{ user.last_name }}</h4>
          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Actions</h6>
        </div>
        <div class="card-body">
          <div class="text-center">
            <a href="{% url 'password_change' %}" class="btn btn-primary btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-lock"></i>
              </span>
              <span class="text">Change Password</span>
            </a>
            <a href="/delete_profile/" class="btn btn-danger btn-icon-split mt--1">
              <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
              </span>
              <span class="text" >Delete Account</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Profile Information</h6>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data" class="post-form" action="/updatep/{{user.id}}">
            {% csrf_token %}
            <div class="form-row">         
                <div class="col-md-5">
                    <label class="small mb-1">Change Avatar:</label>

                    <input type="image" class="form-control" name="avatar" id="id_avatar"  value="{{ utilisateur.avatar }}" />
                    <div class="form-group">
                        <label class="small mb-1">First Name:</label>
                        <input type="text" class="form-control" name="first_name" id="id_first_name" required maxlength="100" value="{{ user.first_name }}" />                   
                            <label class="small mb-1">Last Name:</label>
                            <input type="text" class="form-control" name="last_name" id="id_last_name" required maxlength="100" value="{{ user.last_name }}" />
    
                        <label class="small mb-1">Email:</label>
                        <input type="text" class="form-control" name="email" id="id_email" required maxlength="100" value="{{ user.email}}" />
                    </div>
                    
                    <label class="small mb-1">Date Naissance:</label>
                    <input type="text" class="form-control" name="date_naissance" id="date_naissance" required maxlength="100" value="{{ utilisateur.date_naissance }}" />
                     
                    <label class="small mb-1">Numero Telephone:</label> 
                    <input type="text" class="form-control" name="num_tel" id="num_tel" required maxlength="100" value="{{ utilisateur.num_tel}}" />
                    <hr>
                    <div class="form-group">
                        <a href="{% url 'password_change' %}">Change Password</a>
                        
                        
                    </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}