<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
</head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<body>
  <div class="main-content">
    <!-- Top navbar -->
   
   
    <!-- Header -->
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">{{ user.username }}</h1>
            <p class="text-white mt-0 mb-5">{{ user.username }}</p>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    {% block content %}
    <form method="POST" action="{% url 'update_profile' user_id=utilisateur.user_id %}" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{{ utilisateur.avatar.url }}" class="rounded-circle" id="avatar" name="avatar">
                  </a>
                  <input type="file" id="avatar-input" name="avatar" style="display: none;">


                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                
                
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <!--
                      <div>
                      <span class="heading">0</span>
                      <span class="description">Produits</span>
                    </div>
                    <div>
                      <span class="heading">0</span>
                      <span class="description">Contacts</span>
                    </div>
                    <div>
                      <span class="heading">0</span>
                      <span class="description">Affilies</span>
                    </div>
                     -->
                    
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{ user.first_name }}<span class="font-weight-light"></span>
                  {{ user.last_name }}<span class="font-weight-light"></span>
                </h3>
                <div class="h5 font-weight-300">
                  {{ utilisateur.about_me }}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>{{ utilisateur.Position }}
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>
                </div>
              </div>
                <hr class="my-4">
                <a href="{% url 'password_change' %}" class="btn btn-sm btn-default">Changer le mot de passe</a>
                <a href="{% url 'home' %}" class="btn btn-sm btn-default float-right">Déconnecter</a>
              
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Mon compte</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="{% url 'acceuil' %}" class="btn btn-sm btn-default">Retourner</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">Informations Personelles</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Nom d'utilisateur</label>
                        <input type="text" name="username" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="{{ user.username }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email</label>
                        <input type="email" name="email" id="input-email" class="form-control form-control-alternative" value="{{ user.email }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Prénom</label>
                        <input type="text" id="input-first-name" name="first_name" class="form-control form-control-alternative" placeholder="First name" value="{{ user.first_name }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Nom</label>
                        <input type="text" id="input-last-name" name="last_name" class="form-control form-control-alternative" placeholder="Last name" value="{{ user.last_name }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-phone-number">Numéro de Téléphone</label>
                        <input type="number" id="input-last-name" name="phonenumber" class="form-control form-control-alternative" placeholder="Phone Number" value="{{ utilisateur.phonenumber }}">
                  </div>
                  <label class="form-control-label" for="subscription_type_choices">Abonnement </label>
                  <input type="text" id="input-last-name" name="subscription" class="form-control form-control-alternative" placeholder="Subscription" value="{{ utilisateur.Abonnement}}">
                  <div id="countdown">Abonnement expire dans :</div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-date">Date de Naissance</label>
                    <input type="date" id="input-date" name="date_naissance" class="form-control form-control-alternative" placeholder="Date" value="{{ request.user.utilisateur.date_naissance }}">
                    <p>   {{ request.user.utilisateur.date_naissance }}</p>
                </div>
                

                
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Plus d'information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Addresse</label>
                        <input id="input-address" class="form-control form-control-alternative" name="Address" placeholder="Home Address" value="{{ utilisateur.Address }}" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-city">Ville</label>
                        <input type="text" name="City" id="input-city" class="form-control form-control-alternative" placeholder="City" value="{{ utilisateur.City }}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-country">Pays</label>
                        <input type="text" name="Country" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="{{ utilisateur.Country }}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Code Postal</label>
                        <input type="number" name="postal_code" id="input-postal-code" class="form-control form-control-alternative"  value="{{ utilisateur.postal_code }}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">Autre</h6>
                <div class="pl-lg-4">
                  <div class="form-group focused">
                    <label>Bio</label>
                    <textarea rows="4" name="about_me" class="form-control form-control-alternative" placeholder="Quelques mot sur vous ...">{{ utilisateur.about_me }}</textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-sm btn-default">Sauvegarder</button>

              
            </form>
            {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6 m-auto text-center">
        <div class="copyright">
        </div>
      </div>
    </div>
  </footer>
  <script>
    document.getElementById("avatar").addEventListener("click", function() {
      document.getElementById("avatar-input").click();
    });
    
    document.getElementById("avatar-input").addEventListener("change", function() {
      // Submit the form to update the profile with the new avatar
      document.getElementById("profile-form").submit();
    });
    var countdown = document.getElementById("countdown");
     // Retrieve the date_joined value from the template context
    var dateJoined = new Date('{{ date_joined_formatted }}');
    // Set the countdown date to 30 days from now
    var countdownDate = new Date(dateJoined);
    countdownDate.setDate(countdownDate.getDate() + 30);

		// Update the countdown timer every second
		var countdownInterval = setInterval(function() {
			// Get the current date and time
			var now = new Date().getTime();

			// Calculate the remaining time until the countdown date
			var remainingTime = countdownDate - now;

			// Calculate the days, hours, minutes, and seconds remaining
			var days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
			var hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

			// Display the countdown timer
			countdown.innerHTML = "Abonnement expire dans : " + days + " jours, " + hours + " heures, " + minutes + " minutes, " + seconds + " secondes";

			// If the countdown is over, clear the interval and display "Expired"
			if (remainingTime < 0) {
				clearInterval(countdownInterval);
				countdown.innerHTML = "Expiré";
			}
		}, 1000);
    </script>
</body>