
{% include 'navbar.html'  %} 
{%load static%} 

{% block extra_css %}
  <style>
    body{
 
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
     
      
    }
    body::before{
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      height: 100%;
      width: 100%;
      background: linear-gradient(45deg, #655add, #d84b87);
      clip-path:circle(10% at left 95%);
    }
    body::after{
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      height: 100%;
      width: 100%;
      background: linear-gradient(#c14e993b, #90654b4f);
      clip-path:circle(5% at right 10%);
    
    }
  table{
    margin: 0 auto; 
    margin-top:50px;
    width:800px;
    item-align: center;
  
  }
 
  th{
   
    font-size:22px;
  }
  td{
    font-size:20px;
    height:50px;
  }
  .btn{
    margin-left:3%;
    border:none;
    height:40px;
    color:#fff;
    font-size:16px;
    border-radius:30px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
  }
  #next-btn{
    margin-left:83%;
  }
  .btn:hover{
    border:solid 1px #DA59B1;
    height:40px;
    color: #DA59B1;
    background:#ffffff;
    
    border-color: linear-gradient(to top right, #8162CE, #F54BA5);
    border-radius:30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
  }
  .color-a{
    background: linear-gradient(to top right, #8162CE, #F54BA5);
  }
  
  </style>
{% endblock %}

{% block content %}
<div class="animation">
  {% if templates %}
    <table class="table" width="100%">
      <thead class="table-head">
        <tr>
          <th>Lu</th>
          <th>Nom du Client</th>
          <th>Email</th>
          <th>Numéro de Téléphone</th>
          <th>Sujet</th>
          <th>Message</th>
          <th>Reçu à</th>
        </tr>
      </thead>
      <tbody>
        {% for template in templates %}
          <tr class="template-row">
            <td class="template-checkbox" style="width: 50px;">
              <input type="checkbox" class="template-checkbox-input">
            </td>
            <td class="template-title">{{ template.name }}</td>
            <td class="template-type">{{ template.email }}</td>
            <td class="template-type">{{ template.phonenumber }}</td>
            <td class="template-type">{{ template.subject }}</td>
            <td class="template-type">{{ template.message }}</td>
            <td class="template-type">{{ template.submitted_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="pagination">
      <button class="btn color-a top" id="previous-btn">Précédent</button>
      
      <button class="btn color-a top" id="next-btn">Suivant</button>
    </div>
   
  {% else %}
    <p>Pas de templates trouvées.</p>
  {% endif %}
</div>

<script>
  
  const checkboxes = document.querySelectorAll('.template-checkbox-input');
  checkboxes.forEach((checkbox) => {
    const row = checkbox.closest('tr');
    row.style.backgroundColor = '#FEB3B2';
  
    checkbox.addEventListener('change', (event) => {
      if (event.target.checked) {
        row.style.backgroundColor = '#CCFFA2';
      } else {
        row.style.backgroundColor = '#FEB3B2';
      }
    });
  });

  const rows = document.querySelectorAll('.template-row');
  const previousBtn = document.getElementById('previous-btn');
  const nextBtn = document.getElementById('next-btn');

  let currentPage = 0;
  const rowsPerPage = 10;

  showPage(currentPage);

  previousBtn.addEventListener('click', () => {
    if (currentPage > 0) {
      currentPage--;
      showPage(currentPage);
    }
  });

  nextBtn.addEventListener('click', () => {
    const totalPages = Math.ceil(rows.length / rowsPerPage);
    if (currentPage < totalPages - 1) {
      currentPage++;
      showPage(currentPage);
    }
  });

  function showPage(page) {
    const start = page * rowsPerPage;
    const end = start + rowsPerPage;

    rows.forEach((row, index) => {
      if (index >= start && index < end) {
        row.style.display = 'table-row';
      } else {
        row.style.display = 'none';
      }
    });

  }
</script>
{% endblock %}