{% extends 'basee.html' %}

{% block content %}
  <h1>Shared Template</h1>

  <p>You are viewing a shared version of the "{{ template.title }}" template.</p>

  <div class="template-preview">
    {{ template.codeHtml|safe }}
  </div>
  <form method="post" action="{% url 'send_email' %}">
    {% csrf_token %}
    <input type="hidden" name="template_label" value="{{ template.label }}">
    <input type="email" name="email" placeholder="Enter your email">
    <button type="submit">Send</button>
</form>
{% endblock %}