{% include 'navbar.html' %}
{% block extra_css %}
    <style>
      
body{
 
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background:#fff;
}
body::before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #655add, #d84b87);
  clip-path:circle(25% at right 5%);
}
body::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(#c14e993b, #90654b4f);
  clip-path:circle(20% at left 95%);

}
.btn{
  
  display:flex;
  border:none;
  height:40px;
  color:#fff;
  font-size:16px;
  border-radius:30px;
  box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
}
.btn:hover{
  border:solid 1px #DA59B1;
  height:40px;
  color: #DA59B1;
  background:#ffffff;
  
  border-color: linear-gradient(to top right, #8162CE, #F54BA5);
  border-radius:30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
}
.color-a{
  background: linear-gradient(to top right, #8162CE, #F54BA5);
}
.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 700px;
  margin-top:30px;
  margin-left:400px;
}

form {
  
  flex-direction: column;
  align-items: center;
}

h2 {
  
  text-align:center;
  margin-top: 0;
}

label {
  font-size:20px;
  margin-bottom: 5px;
}

input, textarea {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}


    </style>
  </style>
{% endblock %}

{% block content %}
<div class="card">
<form method="post">
  {% csrf_token %}
  <div>
      <label for="id_username">Username:</label>
      <input type="text" name="username" maxlength="150" required id="id_username">
  </div>
  <div>
      <label for="id_first_name">First name:</label>
      <input type="text" name="first_name" maxlength="30" required id="id_first_name">
  </div>
  <div>
      <label for="id_last_name">Last name:</label>
      <input type="text" name="last_name" maxlength="30" required id="id_last_name">
  </div>
  <div>
      <label for="id_email">Email:</label>
      <input type="email" name="email" maxlength="254" required id="id_email">
  </div>
  <div>
      <label for="id_password1">Password:</label>
      <input type="password" name="password1" required id="id_password1">
  </div>
  <div>
      <label for="id_password2">Confirm password:</label>
      <input type="password" name="password2" required id="id_password2">
  </div>
  <div>
    <center><button class="btn color-a top" type="submit">Creer Un Infopreneur</button></center>
  </div>
</form>
</div>
{% endblock %}