{% extends 'base.html' %}

{% block title %}User Templates{% endblock %}

{% block extra_css %}
  <style>
    .template-preview {
      border: 1px solid #ccc;
      padding: 10px;
      width: 400px;
      height: 400px;
      text-align: center;
    }

    .template-preview td:nth-child(4) {
      display: flex;
      align-items: center;
    }

    .template-preview td:nth-child(4) .template-actions {
      margin-left: auto;
    }
    .template-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  </style>
{% endblock %}

{% block content %}
  <h1>User Templates</h1>

  {% if templates %}
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Type</th>
          <th>Image</th>
          <th>Preview</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for template in templates %}
          <tr>
            <td>{{ template.title }}</td>
            <td>{{ template.type }}</td>
            <td><img src="{{ template.image.url }}" alt="{{ template.title }}" width="300px"></td>
            <td class="tp">
                <td><div class="template-preview">{{ template.codeHtml|safe }}</div></td>
            </td>
            <td>
              <div class="template-actions">
                <a href="{% url 'template_delete' id=template.id %}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'template_update' id=template.id %}" class="btn btn-primary btn-sm">Edit</a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No templates found.</p>
  {% endif %}
{% endblock %}
