{% extends 'base.html' %}

{% block title %}User Templates{% endblock %}

{% block extra_css %}
  <style>
    .template-preview {
      border: 1px solid #ccc;
      padding: 10px;
      width: 400px;
      height: 400px;
      text-align: center;
    }

    .template-preview td:nth-child(4) {
      display: flex;
      align-items: center;
    }

    .template-preview td:nth-child(4) .template-actions {
      margin-left: auto;
    }
    .template-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  </style>
{% endblock %}

{% block content %}
<div classname="animation">
  <h1 class="user-title">User Templates</h1>
  
  {% if templates %}
    <table class="table">
      <thead class="table-head">
        <tr>
          <th>Title</th>
          <th>Type</th>
          <th>Image</th>
          <th>Preview</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for template in templates %}
          <tr class="template-title">
            <td class="template-title">{{ template.title }}</td>
            <td class="template-type">{{ template.type }}</td>
            <td><img src="{{ template.image.url }}" alt="{{ template.title }}" width="300px"></td>
            <td>
              <a href="{% url 'preview_template' id=template.id %}" class="btn-preview">Preview</a>
            </td>
            <td>
              <div class="template-actions">
                <a href="{% url 'template_delete' id=template.id %}" class="btn-delete">Delete</a>
                <a href="{% url 'template_update' id=template.id %}" class="btn-edit">Edit</a>
              </div>
            </td>
          </tr>
        </div>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No templates found.</p>
  {% endif %}
{% endblock %}