{% include 'navbar.html'  %} 

{% block extra_css %}
    <style>
        body{
 
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            background:#fff;
          }
          body::before{
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            height: 100%;
            width: 100%;
            background: linear-gradient(45deg, #655add, #d84b87);
            clip-path:circle(25% at right 5%);
          }
          body::after{
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            height: 100%;
            width: 100%;
            background: linear-gradient(#c14e993b, #90654b4f);
            clip-path:circle(20% at left 95%);
          
          }
          .btn{
            
            display:flex;
            border:none;
            height:40px;
            color:#fff;
            font-size:16px;
            border-radius:30px;
            box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
          }
          .btn:hover{
            border:solid 1px #DA59B1;
            height:40px;
            color: #DA59B1;
            background:#ffffff;
            
            border-color: linear-gradient(to top right, #8162CE, #F54BA5);
            border-radius:30px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
          }
          .color-a{
            background: linear-gradient(to top right, #8162CE, #F54BA5);
          }
          .card {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 700px;
            margin-top:30px;
            margin-left:400px;
          }
          
          form {
            
            flex-direction: column;
            align-items: center;
          }
          
          h2 {
            
            text-align:center;
            margin-top: 0;
          }
          
          label {
            font-size:20px;
            margin-bottom: 5px;
          }
          
          input, textarea {
            border: 2px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
            width: 100%;
          }
    </style>
{% endblock %}

{% block content %}
<div class="card">
    <form method="post">
        {% csrf_token %}
        <h2>Modifier Les Données </h2>
        <label for="username" class="form-label">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username" value="{{ user.username }}" class="form-control"><br>
        <label for="first_name" class="form-label">Prénom:</label>
        <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" class="form-control"><br>
        <label for="last_name" class="form-label">Nom:</label>
        <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" class="form-control"><br>
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control"><br>
        <center><button class="btn color-a top"  type="submit">Sauvgarder</button></center>
    </form>
</div>
{% endblock %}
